html, body, #display {
  width: 100%;
  height: 100%;
}

/* SVG STYLES */

svg {
    /*width: 80%;*/
    width: 100%;
    height: 500px;
}


/* SCATTER -----  */

.axis {
    font-size: 10px;
}
.axis path {
    fill: none;
    stroke: #000000;
}
.axis .tick line {
    stroke: #000;
}

/* BRUSH  -----  */




/*  POSTS STYLES */

.posts {
    height: 500px;
    /*width: 20%;*/
    overflow: auto;
    border-top: 1px solid black;
    /*float: right;*/
}

.postsContainer {

}

.post {
    border-bottom: 1px solid black;
}

.post .title {

}

.post .stats {

}

.post .source {

}
