/*  POSTS STYLES */

.postsContainer {
    width: 400px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.post {
    border-bottom: 1px solid black;
}

.post .title {

}

.post .stats {

}

.post .source {

}
